/* 1.Créer une div supplémentaire puis mettre un <p> à l'intérieur */
/* 2.Ecrire un lorem15 dans le <p> */
/* 3.créer une nouvelle version après les modifications */

#top-banner{
    background-color: rgba(30, 30, 30, 0.7);
    color: white;
    font-size: 2.5rem;
    text-align: center;
}